// fonts
$font-primary: "Nunito", sans-serif;
$font-secondary: "Barlow", sans-serif;

// brand colors
$color-primary: #3addda;
$color-secondary: #fc885c;

// font colors
$color-white: #ffffff;
$color-black: #000000;

// status colors
$color-new: #ef4a5a;
$color-confirmed: #ff7342;
$color-preparing: #ffc641;
$color-sending: #30d694;
$color-cancelled: #a9b9f7;
$color-delivered: #7d94a3;
